body {
  background-color: bisque;
}
.container {
  display: flex;
  justify-content: center;

}
p {
  width: 500px;
  text-align: center;
}
.btn {
  margin-top: 15px;
  padding: 5px;
  color: blue;
  background-color: aliceblue;
  font-size: 15px;
}